.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #ffffff;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
  background-color: #525252;
  padding: 10px 20px;
  border-radius: 4px;
}

.footer-copy {
  grid-column: 1 / -1;
  color: #8f8f8f;
  font-size: 1.125rem;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.25rem;
  }
}
